<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd  
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		">
	<context:component-scan base-package="cn.blmdz.test.dao, cn.blmdz.test.service" />
	
	<!-- 
	<context:property-placeholder file-encoding="utf-8" location="classpath:application.properties"/>
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	 -->
	<bean class="cn.blmdz.test.config.MyPropertyPlaceholderConfigurer">
		<property name="fileEncoding" value="utf-8" />
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>

	<!-- study -->
	<bean id="car" class="cn.blmdz.test.test.Car" init-method="myinit" destroy-method="mydestory">
		<property name="brand" value="hi action!" />
		<property name="maxSpeed" value="300" />
	</bean>
	<bean id="myBeanFactoryPostProcessor" class="cn.blmdz.test.test.MyBeanFactoryPostProcessor"></bean>
	<bean id="myBeanPostProcessor" class="cn.blmdz.test.test.MyBeanPostProcessor"></bean>
	
	<!-- transaction -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- aop -->
	<aop:config proxy-target-class="true">
		<aop:pointcut id="serviceMethod" expression="execution(* com.blmdz.test.service..*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod" />
	</aop:config>
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

    <import resource="applicationContext-database.xml" />
    <import resource="applicationContext-jms.xml" />
    <import resource="applicationContext-redis.xml" />
    
</beans> 