<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ServletTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>cn.blmdz.test.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>enfilter</filter-name>
		<filter-class>cn.blmdz.test.EnFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>enfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	 <error-page>
	 	<error-code>404</error-code>
	 	<location>/hello</location>
	 </error-page>
	 <session-config>
	 	<session-timeout>1</session-timeout>
	 </session-config>
</web-app>